/* code for overlaid items. This is supposed to look like an x-ray or something. Emilia Tongson 02-04-19 */
* {
  box-sizing: border-box;
}

body {
  background: antiquewhite;
  width: 100%;
  height: 100%;
}

#chapstick {
  position: fixed;
  bottom: 0;
  left: 0;
}

#earphones {
  position: fixed;
  bottom: 0;
  left: 30vw;
}

#coughdrop {
  position: fixed;
  bottom: 0;
  left: 27vw;
}

#overlay{
  background-color: white;
  position: absolute;
  top: 10vh;
  /* width: 80vw; */
  height: 50vh;
  display: none;
  margin: 10%;
}



h1:hover {
  cursor: pointer;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: italic;
  margin: 0;
  font-size: 15vh;
  line-height: 77%;
  display: flex;
  align-self: flex-end;
}

/* how do I do this for specifically bagItems class? */
img{
  /* display: none; */
}
img:hover{
  cursor: pointer;
}


div#close:hover {
  cursor: pointer;
}

div#close{

}


footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  margin: 1em;
  padding: 0;
  font-size: 1rem;
  font-family: monospace;
  color: white;
  z-index: 4;
}

footer a:hover {
  color: white;
  mix-blend-mode: darken;
}

h2 {
  color: red;
  font-size: 1em;
}

/* media query for desktop */
@media only screen and (min-width: 769px) {
  body {
    max-width: 1366px;
    max-height: 768px;
    display: flex;
    flex-direction: row;
  }

  section {
    width: 50vw;
  }

  section h1{
    display: flex;
    align-items: flex-end;
  }

  section .section2{
    width: 50vw;
    display: flex;
    align-items: flex-end;
  }

  #overlay {
    display: flex;
    align-items: flex-end;
    display: none;
  }

  /* img {
    display: inline;
  } */
}
