/* GENERAL BODY */
/* *:hover {
  outline: black solid 1px;
} */
body {
  max-width: 1366px;
  max-height: 768px;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 7vw;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  color: grey;
}

h1 {
  font-size: 1.5rem;
  color: navy;
  font-weight: 100;
  text-align: left;
}


h1 span {
  display: block;
}

h2 {
  font-size: 1em;
  font-weight: 100;
  color: navy;
  text-overflow: ellipsis;
  /* make text vertical. Thanks https://davidwalsh.name/css-vertical-text  */
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transform-origin: 50% 150%;
  float: left;
  text-align: right;


}

/* GRID LAYOUT */
.container {
  max-width: 800px;
  margin: auto;
  padding-top: 2em;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  grid-template-areas:
    "header1 header2 header3"
    "content1 content2 content3"
  ;
  word-wrap: normal; */
}

/* GRID ASSIGMENTS */
/* header {
  grid-area: header1;
  display: inline;
}


.column1 {
  grid-area: content1;
}

.column2 {
  grid-area: content2;
}

.column3 {
  grid-area: content3;
} */




/* Bullet points */
li {
  font-style: italic;
  font-size: 11px;
  font-weight: 100;
  color: #a39594;
  display: block;
  /* float: left; */
  /* padding-right: 0; */
  /* align-items: flex-end; */
  text-align: left;
  justify-self: end;
}

/* INTERACTIVE BANNER */
#mySketch {
  height: 250px;
  width: 800px;
  background-color: black;
  position: relative;
  margin: auto;
  margin-top: 5vh;
}

/* FIXED FOOTER */
.fixedfooter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 36px;
  text-align: center;
  margin-top: 36px;
  font-size: 11px;
  /* font-weight: 200; */
  color: #a39594;
}

section .fixedfooter{
  background-color: white;
}

@media only screen and (min-width: 800px) {
  /* CSS rule sets */
}
