body {
  border-color: grey;
  border-radius: 1vmin;
  background-color: white;
  font-family: sans-serif;
}

header{
  background-color: white;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  width: 375px;
  margin: auto;
  padding-top: 1.7vmax;
  padding-bottom: 1.7vmax;
  color: black;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  text-align: center;
  z-index: 3;
}

h1{
  font-size: 1rem;
  text-align: center;
  margin: auto;
}

section#container {
  width: 100%;
  height: 100%;
  background-color: white;
  /* margin: auto; */
}

h2{
  font-size: 1rem;
  padding-left: 1.5vmax;
}

p{
  font-size: 2vmax;
  padding-left: 1.5vmax;
}
section#feed{
  background-color: white;
}

section.feedPost{
padding-top: 4vmax;
  background-color: white;
}

/* RUNNING FEED*/
/* div.feedPost{
  display: block;
} */

#myPost1{
  position: absolute;
  width:250px;
  height:250px;
  background-color: black;
  margin: auto;


}

div#myPost2{
  /* position: fixed;
  bottom: 0; */

}


div.post{
  /* border-style: solid;
  border-color:black;
  border-width: 1px; */
  width: 375px;
  height: 375px;
/* background-color: lightgrey; */
}

nav {background-color: white;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 375px;
  margin: auto;
  padding-top: 1.7vmax;
  padding-bottom: 1.7vmax;
  color: black;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  z-index: 3;
}

div.navIcon {
  margin: auto;
  justify-content: space-around;
  border-color: grey;
}

footer{
  position: fixed;
  bottom: 50px;
  background-color: white;
  opacity: .5;
  color: black;
  z-index: 4;
  width: 100%;

}
