body {
  background-color: #B5D99C;
  width: 1366px;
  height: 768px;
  margin: 10vh;
}

header {
  background-color: #F5F7DC;
  text-align: center;
  width: 70vh;
  padding: 1em;
  border-color: #E3D7FF;
  border-radius: 3em;
  border-width: .3em;
  margin: auto;
}
h1{
  font-family: 'Baloo Bhai', cursive;
  font-size: 2.5rem;
  color: #DB504A;
}
.machine{
  height: 60vh;
  width: 60vh;
  background-color: #F5F7DC;
  border-color: #E3D7FF;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  color: #242331;
  padding: 1.5em;
}

form{
  padding: .2em;
}
.fieldblank {
  text-align: right;
}

.submit {
  text-align: center;
}

.output{
  height: 10vh;
  width: 60vh;
  background-color: #F5F7DC;
  border-radius: 3em;
  position: absolute;
  margin: auto;
  bottom: 30%;
}

footer{
  font-family: 'Roboto', sans-serif;
  font-size: .5em;
  color: #DB504A;
  position: fixed;
  bottom: 0px;
  text-align: center;
  margin: auto;
  padding: 2em;
}
